body {
	background-color: #262526;
}

section {
	margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
}

.intro-section{
	background-color: #262526;                    
	padding-top: 125px;
	text-align: center;
}

.about-section {
	background-color: #2F2E2F;
	text-align: center;
}

.education-section {
	background-color: #3C3B3C;
	text-align: center;
	display: inline-block;
	margin-bottom: -1px;
}

.portfolio-section {
	background-color: #404040;
	text-align: center;
}	

.contact-section {
	background-color: #514F4F;
	text-align: center;
	padding-bottom: 100px;
}

h1 {
	color: #F2F2F2;
	font-family: 'Orbitron', sans-serif;
}

.me {
	-webkit-font-smoothing: antialiased;
	margin-top: 50px;
	border-radius: 50%;
	width: 25%;
}

.text {
	font-family: 'Ubuntu', sans-serif;
	color: #F2F2F2;
	border: none;
	width: 50%;
	margin: auto;
	font-size: 20px;
	text-align: left;
}

.sidebyside {
	font-family: 'Ubuntu', sans-serif;
	color: #F2F2F2;
	font-size: 20px;
	float: left;
	text-align: left;
}

.sidebyside-div {
	display: block;
	width: 50%;
	margin: auto;
	height: 125px;
}

.image-div {
	display: inline-block;
    width: 50%;
    height: initial;
    margin: auto;
}

.logos {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    float: left;
    padding: 25px;
    cursor: pointer;
    height: 150px;
    width: calc(100% / 5);
    border-radius: 10px;
    filter: brightness(1);
}

.logos2 {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    float: left;
    padding: 25px;
    cursor: pointer;
    height: 150px;
    width: calc(100% / 5);
    border-radius: 10px;
    filter: brightness(1);
}

.portfolio-images {
	width: 50%;
	border: solid 2px #0D9CF6;
	border-radius: 5px;
}

.portfolio-heading {
	font-family: 'Ubuntu', sans-serif;
	color: #F2F2F2;
	border: none;
	width: 50%;
	margin: auto;
	text-align: left;
	margin-top: 50px;
}

.madeUsing {
	font-family: 'Ubuntu', sans-serif;
	color: #0D9CF6;
	font-size: 20px;
	float: right;
	text-align: right;
}

.madeUsing-div {
	padding-top: 10px;
	width: 50%;
	margin: auto;
	height: 35px;
}

.made {
	max-width: 100%;
    max-height: 100%;
    height: 100%;
    float: right;
    padding-left: 10px;
}

.contact {
	font-family: 'Ubuntu', sans-serif;
	color: #0D9CF6;
	font-size: 30px;
	float: left;
	text-align: right;
	padding-top: 8px;
}

.contact-list {
	padding-top: 10px;
    width: 50%;
    margin: auto;
    display: inline-block;
    list-style-type: none;
}

.contact-image {
	color: #0D9CF6;
    float: left;
    width: 150px;
}

.contact-list li {
	height: 65px;
}

a:hover {
	color: #F2F2F2;
	text-decoration: none;
}

a:visited {
	color: #0D9CF6;
	text-decoration: none;
}

a:visited:hover {
	color: #F2F2F2;
	text-decoration: none;
}

a:focus {
	color: #F2F2F2;
	text-decoration: none;
}

.mobile {
	display: none;
}

.video {
	width: 50%;
}

#expand1 {
	display: none;
	margin-bottom: 50px;
	border: solid white 5px;
    border-radius: 10px;
    padding: 10px;
}


#expand2 {
	display: none;
	margin-bottom: 50px;
	border: solid white 5px;
    border-radius: 10px;
    padding: 10px;
}

.recolor {
	bottom: 0;
	position: fixed;
	color: #0D9CF6;
	margin-left: 2%;
	padding: 10px;
	cursor: pointer;
}

.colors {
	display: none;
	margin-top: 10px;
}

.colors ul {
	 list-style-type: none;
	 text-align: center;
	 padding: 0px;
}

.name {
	color: #0D9CF6;
}

.svgDesc {
	margin: 0;
}

.jcproject {
	width: 432px !important;
	height: 768px !important;
}

.jcstatic {
	display: none;
}

/* below is the css to modify logos at a certain width */
@media (max-width: 1200px) {

	.logos {
    width: calc(100% / 4);
	}
	.logos2 {
    width: calc(100% / 4);
	}
}

/* below is the css to modify logos at a certain width */
@media (max-width: 1000px) {

	.logos {
    width: calc(100% / 3);
	}

	.logos2 {
    width: calc(100% / 3);
	}
}

/* below is the css to be used for mobile devices */
@media (max-width: 767px) {
	.text {
		font-family: 'Ubuntu', sans-serif;
		color: #F2F2F2;
		border: none;
		width: 90%;
		margin: auto;
		font-size: 20px;
		text-align: left;
 	}

 	.contact-div {
		padding-top: 10px;
		width: 90%;
		margin: auto;
		display: inline-block;
	}

	.madeUsing-div {
		padding-top: 10px;
		width: 90%;
		margin: auto;
		height: 35px;
	}

	.portfolio-images {
		width: 90%;
		border: solid 2px #0D9CF6;
		border-radius: 5px;
	}

	.portfolio-heading {
		font-family: 'Ubuntu', sans-serif;
		color: #F2F2F2;
		border: none;
		width: 90%;
		margin: auto;
		text-align: left;
		margin-top: 50px;
	}

	.sidebyside-div {
		display: block;
		width: 90%;
		margin: auto;
		height: 125px;
	}	

	.image-div {
		display: inline-block;
    	width: 90%;
    	height: initial;
    	margin: auto;
    	margin-bottom: 50px;
	}

	.me {
		margin-top: 50px;
		border-radius: 50%;
		width: 50%;
		margin-bottom: 25px;
	}

	.contact {
		font-family: 'Ubuntu', sans-serif;
		color: #0D9CF6;
		font-size: 20px;
		float: left;
		text-align: right;
		padding-top: 8px;
	}

	.contact-image {
    	width: 100px;
	}

	.contact-section {
		background-color: #514F4F;
		text-align: center;
		padding-bottom: 100px;
	}

	.contact-list {
    	width: 110%;
    	margin-left: -50px;
	}

	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}

	.logos {
	width: calc(100% / 3);
	}

	.logos2 {
	width: calc(100% / 3);
	}

	.video {
		width: 90%;
	}

	.recolor {
		display: none;
	}

	.jcproject {
		display: none;
	}

	.jcstatic {
		display: inline-block;
	}
}