body {
	height: 100%;
       margin: 0px;
}

html {
	height: 100%;
       width: 100%;
}

#capture {
       height: 100%;
       width: 75%;
       overflow: hidden;
       float: left;
       background-color: #F8F8F8;
       border-left: none;
       position: relative;
       z-index: 3;
       display: none;
       }

#map {
       height: 100%;
       width: 100%;
       overflow: hidden;
       float: left;
       position: absolute;
       }

.expand {
       border-radius: 0px 10px 10px 0px;
       padding: 10px 10px 10px 7px;
       top: 10%;
       float: left;
       z-index: 2;
       position: relative;
       background-color: #F8F8F8;
       display: block;
       color: #f8f8f8;
       background-color: #505086;
}

.expand i {
       -webkit-transition-duration: 0.4s;
       -webkit-transform : rotate(90deg);
}

.menuContainer {
      display: inline-block;
      width: 100%;
      background-color: #505086;
}

.menu {
       width: calc(100% / 3);
       float: left;
       text-align: center;
       font-family: 'Open Sans', sans-serif;
       color: #d0d0d0;
       -webkit-font-smoothing: antialiased;
       display: none;
       padding-top: 10px;
       padding-bottom: 10px;
       background-color: #505086;
       cursor: pointer;
}

.aboutContent {
       background-color: #d0d0d0;
       margin-top: -4px;
       height: 100%;
       font-family: 'Open Sans';
       font-weight: 600;
       font-size: 12px;
       padding: 10px;
       text-align: left;
       display: none;
}

.eventsContent {
       background-color: #d0d0d0;
       height: 100%;
       padding: 20px;
       display: none;
       margin-top: -4px;
}

.eventsContent h1 {
      font-family: 'Open Sans', sans-serif;
      margin-top: -20px;
}

.mapContent {
       background-color: #d0d0d0;
       height: 100%;
       display: none;
       margin-top: -4px;
       font-family: 'Open Sans';
       font-weight: 600;
       padding: 10px;
}

.mapContent p {
      font-size: 16px;
}

.logo {
       padding-top: 10px;
       display: block;
       margin: auto;
}

.start {
       background-color: #d0d0d0;
       color: #505086;
}

.etitle {
       font-family: 'Open Sans';
       font-size: 1.8vh; 
       font-weight: 600;
       cursor: pointer;
}

.edate {
       font-family: 'Open Sans';
       font-size: 1.8vh; 
       font-weight: 800;
       cursor: default;
}

.edesc {
       font-family: 'Open Sans';
       font-size: 1.5vh; 
       font-weight: 400;
       text-align: left;
       padding-left: 26px;
       display: none;
}

.compass {
      text-align: center;
      background-color: #505086;
      color: #d0d0d0;
      border-radius: 50%;
      padding: 2px 7px 2px 7px;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
      cursor: pointer;
      z-index: 1;
}

.compassCont {
      padding-bottom: 10px;
      text-align: center;
      height: 50px;
      bottom: 0;
      width: 100%;
      position: absolute;
      margin-bottom: 25px;
}

.category {
      border-radius: 0px 10px 10px 0px;
      padding: 10px 10px 10px 7px;
      top: 25%;
      float: left;
      z-index: 2;
      position: absolute;
      color: #f8f8f8;
      background-color: #505086;
      left: 0;
      -webkit-transition-duration: 0.4s;
}

#categories {
       overflow: hidden;
       float: left;
       background-color: #F8F8F8;
       position: absolute;
       z-index: 2;
       top: 25%;
       border-radius: 0px 0px 10px 0px;
       width: 80px;
       display: none;
}

#categories i {
      color: #f8f8f8;
      background-color: #505086; 
      padding: 10px 10px 10px 10px;
      display: block;
      text-align: center;
}
